$is-colors: (
	
	theme:  #6DB13F,
	second: #EF8720,
	third:  #F3E759,
	
	green: 	#6DB13F,
	yellow: #F9C82D,
	blue: 	#5BA3D4,
	teal: 	#128c7e,
	red: 	#E54142,
	orange: #EF8720,
	pink: 	#D64381,
	purple: #444A9E,
	beige: 	#F0E1CE,
	
	gray-1: #F8F8F8, // 97% middle
	gray-2: #E8E8E8, // 91% <
	gray-3: #D0D0D0, // 82% middle
	gray-4: #B9B9B9, // 73% <
	gray-5: #A2A2A2, // 64% middle
	gray-6: #808080, // 50% <
	gray-7: #5C5C5C, // 36% middle
	gray-8: #454545, // 27% <
	gray-9: #2E2E2E, // 18% middle
	
	white:  #FFFFFF,
	black:  #161616,
	deep:   #000000,
	none:   transparent
	
);
