$is-font: (
	
	theme: (
		name:   #{"Ubuntu", sans-serif},
		size:   16px,
		weight: 400
	),
	
	second: (
		name:   #{"Ubuntu Condensed", sans-serif},
		size:   16px,
		weight: 400
	),
	
	icon: (
		name:   FontAwesome,
		size:   16px,
		weight: 400
	)
	
);
