$is-modules: (
	
	html       : true,
	text       : true,
	color      : true,
	animation  : true,
	background : true,
	border     : true,
	
	layout     : media,
	display    : media,
	flex       : media,
	sizes      : media,
	align      : media,
	
	out        : true,
	
	font       : media,
	column     : media,
	
	list       : true,
	cursor     : true
	
);
