align-items-start {
    %#{&} {
        align-items: start;
    }
    @if ($class) {
        .#{&} {
            align-items: start;
        }
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    .#{$name}-#{&} {
                        align-items: start;
                    }
                }
            }
        }
    }
}
