justify-content-evenly {
    %#{&} {
        justify-content: space-evenly;
    }
    @if ($class) {
        .#{&} {
            justify-content: space-evenly;
        }
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    .#{$name}-#{&} {
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
}
