$key: if($short, aj, null), if($full, align-justify, null);
#{$key} {
    %#{&} {
        text-align: justify;
    }
    @if ($class) {
        .#{&} {
            text-align: justify;
        }
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    .#{$name}-#{&} {
                        text-align: justify;
                    }
                }
            }
        }
    }
}
