mask-y {
    %#{&} {
        mask-position-y: center;
        -webkit-mask-position-y: center;
    }
    @if ($class) {
        .#{&} {
            mask-position-y: center;
            -webkit-mask-position-y: center;
        }
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    .#{$name}-#{&} {
                        mask-position-y: center;
                        -webkit-mask-position-y: center;
                    }
                }
            }
        }
    }

}
