/*
*  background functions
*  
*  use:
*  @include is-bg-set(url);
*  @include is-mask-set(url);
*  
*/

@mixin is-bg-set ($url) {
	background-image: url('#{$url}');
}

@mixin is-mask-set ($url) {
	mask-image: url('#{$url}');
	-webkit-mask-image: url('#{$url}');
}
