/*
*  Get layout value by name
*  
*  Получить значение разметки по имени
*  
*  ==
*  is-layout(indent);
*  ==
*/

@function is-layout($name) {
	@return map-get($is-layout, $name);
}

/*
*  Set default container style
*  
*  Назначить стиль контейнера по-умолчанию
*  
*  ==
*  @include is-container-set();
*  ==
*/

@mixin is-container-set() {
	
	$indent: is-layout(indent);
	
	width: 100%;
	padding-right: $indent;
	padding-left: $indent;
	margin-right: auto;
	margin-left: auto;
	
}

/*
*  Set default columns style
*  
*  Назначить стили колонок по-умолчанию
*  
*  ==
*  @include is-columns-set();
*  ==
*/

@mixin is-columns-set($style, $second: none) {
	
	&-auto {
		#{$style}: auto;
		@if $second != none {
			#{$second}: auto;
		}
	}
	
	@for $i from 0 through 12 {
		&-#{$i} {
			@if $i == 0 {
				#{$style}: 0;
				@if $second != none {
					#{$second}: 0;
				}
			}
			@else {
				#{$style}: 100% * $i / 12;
				@if $second != none {
					#{$second}: 100% * $i / 12;
				}
			}
		}
	}
	
}
