bg-contain {

    %#{&} {
        background-size: contain;
        background-position: 50% 50%;
    }
    @if ($class) {
        .#{&} {
            background-size: contain;
            background-position: 50% 50%;
        }
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    .#{$name}-#{&} {
                        background-size: contain;
                        background-position: 50% 50%;
                    }
                }
            }
        }
    }

}
