bg-image {

    %#{&} {
        background-image: attr(data-bg-image url);
        background-repeat: no-repeat;
    }
    @if ($class) {
        .#{&} {
            background-image: attr(data-bg-image url);
            background-repeat: no-repeat;
        }
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    .#{$name}-#{&} {
                        background-image: attr(data-bg-image url);
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }

}
