$settings: map-get($is-components, backgrounds);
$media: $settings == true or index($settings, breakpoints) != null;
$class: $settings == true or index($settings, class) != null;
$short: $settings == true or index($settings, short) != null;
$full: $settings == true or index($settings, full) != null;

@import "backgrounds/background";
@import "backgrounds/background-image";
@import "backgrounds/background-gradient";
@import "backgrounds/background-fixed";
@import "backgrounds/background-cover";
@import "backgrounds/background-contain";

@import "backgrounds/background-left";
@import "backgrounds/background-right";
@import "backgrounds/background-top";
@import "backgrounds/background-bottom";
@import "backgrounds/background-x";
@import "backgrounds/background-y";
