font {
    $settings: map-get($is-components, fonts);
    $media: $settings == true or index($settings, breakpoints) != null;
    $class: $settings == true or index($settings, class) != null;
    @each $key, $value in $is-fonts {
        %#{&}-#{$key} {
            font-family: map-get($value, name);
            font-size: map-get($value, size);
            font-weight: map-get($value, weight);
            line-height: map-get($value, line-height);
            text-indent: map-get($value, line-indent);
        }
        @if ($class == true) {
            .#{&}-#{$key} {
                font-family: map-get($value, name);
                font-size: map-get($value, size);
                font-weight: map-get($value, weight);
                line-height: map-get($value, line-height);
                text-indent: map-get($value, line-indent);
            }
        }
    }
    @if ($class == true) {
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    @each $key, $value in $is-fonts {
                        .#{$name}-#{&}-#{$key} {
                            font-family: map-get($value, name);
                            font-size: map-get($value, size);
                            font-weight: map-get($value, weight);
                            line-height: map-get($value, line-height);
                            text-indent: map-get($value, line-indent);
                        }
                    }
                }
            }
        }
    }
}
