$settings: map-get($is-components, layout);
$media: $settings == true or index($settings, breakpoints) != null;
$class: $settings == true or index($settings, class) != null;
$short: $settings == true or index($settings, short) != null;
$full: $settings == true or index($settings, full) != null;

@import "layout/container";
@import "layout/row";
@import "layout/col";
