$settings: map-get($is-components, position);
$media: $settings == true or index($settings, breakpoints) != null;
$class: $settings == true or index($settings, class) != null;

$is-position: (
    relative,
    absolute,
    fixed,
    sticky,
);

@each $key in $is-position {
    %#{$key} {
        position: $key;
    }
    @if ($class == true) {
        .#{$key} {
            position: $key;
        }
    }
}

@if ($class == true) {
    @if ($media == true) {
        $breakpoints: map-get($is-layout, breakpoints);
        @each $name, $breakpoint in $breakpoints {
            @media (min-width: #{$breakpoint}) {
                @each $key in $is-position {
                    .#{$name}-#{$key} {
                        position: $key;
                    }
                }
            }
        }
    }
}
