flex-wrap {
    %#{&} {
        flex-wrap: wrap;
    }
    @if ($class) {
        .#{&} {
            flex-wrap: wrap;
        }
        @if ($media == true) {
            $breakpoints: map-get($is-layout, breakpoints);
            @each $name, $breakpoint in $breakpoints {
                @media (min-width: #{$breakpoint}) {
                    .#{$name}-#{&} {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
