.background-image {
	background-image: attr(data-background-image url);
}

.background-color {
	background-color: attr(data-background-color color);
}

.mask-image {
	mask-image: attr(data-mask-image url);
	-webkit-mask-image: attr(data-mask-image url);
}
