/*
*  Set containers set from breakpoints map
*  
*  Получение контейнеров из карты разметки
*  
*  ==
*  .container
*  .container-fluid
*  .container-xl
*  ==
*/

$is-containers-name: container + ", .container-fluid, .container-fill";
@each $key, $value in is-layout(breakpoints) {
	$is-containers-name: $is-containers-name + ", ." + $key + "-container";
}

.#{$is-containers-name} {
	@include is-container-set();
}

/*
*  Set rows classes
*  
*  Назначение классов строк
*  
*  ==
*  .row
*  ==
*/

.row {
	
	$indent: is-layout(indent);
	
	display: flex;
	flex-wrap: wrap;
	margin-right: -$indent;
	margin-left: -$indent;
	
	& > * {
		flex: 0 0 auto;
		width: 100%;
		max-width: 100%;
		padding-right: $indent;
		padding-left: $indent;
		
		.container-fill > & {
			padding-right: 0;
			padding-left: 0;
		}
	}
	
}

/*
*  Set columns classes
*  
*  Назначение классов колонок
*  
*  ==
*  .col
*  .col-auto
*  .col-xl
*  .offset-0
*  .offset-1
*  .order-first
*  .order-2
*  ==
*/

.col {
	flex: 1 0 0%;
	@include is-columns-set(width);
}

.offset {
	@include is-columns-set(margin-left);
}

.order {
	
	&-first {
		order: -1;
	}
	
	&-last {
		order: 13;
	}
	
	@for $i from 0 through 6 {
		&-#{$i} {
			order: $i;
		}
	}
	
}

/*
*  Set z-index classes
*  
*  Назначение классов z-index
*  
*  ==
*  .z-index
*  .z-index-first
*  .z-index-0
*  .z-index-1
*  ==
*/

.z-index {
	
	&-first {
		z-index: 9999;
	}
	
	&-last {
		z-index: -1;
	}
	
	@for $i from 0 through 4 {
		
		$val: 1;
		
		@if $i == 0 {
			$val: 0;
		}
		@else if $i > 1 {
			@for $n from 1 through $i - 1 {
				$val: $val * 10;
			}
		}
		
		&-#{$i} {
			z-index: $val;
		}
		
	}
	
}
