$is-colors: (

    theme:  #6DB13F,
    second: #EF8720,
    third:  #F3E759,

    red:    #E54142,
    orange: #EF8720,
    yellow: #F9C82D,
    green:  #6DB13F,
    teal:   #128c7e,
    blue:   #5BA3D4,
    purple: #444A9E,
    pink:   #D64381,
    beige:  #F0E1CE,
    brown:  #795548,

    gray-1: #ECECEC,
    gray-2: #D0D0D0,
    gray-3: #B9B9B9,
    gray-4: #A2A2A2,
    gray-5: #8B8B8B,
    gray-6: #737373,
    gray-7: #5C5C5C,
    gray-8: #454545,
    gray-9: #2E2E2E,

    black:  #000000,
    dark:   #161616,
    light:  #F6F6F6,
    white:  #FFFFFF,
    none:   transparent,

);
