/*
*  Use:
*  
*  @import "is/is";
*  
*  at start of your stylesheet
*/

@charset "UTF-8";

// helpers

@import "helpers/color";
@import "helpers/animation";
@import "helpers/background";
@import "helpers/border";
@import "helpers/layout";
@import "helpers/display";
@import "helpers/flex";
@import "helpers/sizes";
@import "helpers/align";
@import "helpers/out";
@import "helpers/font";
@import "helpers/column";
@import "helpers/cursor";
@import "helpers/outline";

// values

$is-colors: false !default;
@if type-of($is-colors) != map {
	@import "values/colors";
}

$is-font: false !default;
@if type-of($is-font) != map {
	@import "values/font";
}

$is-layout: false !default;
@if type-of($is-layout) != map {
	@import "values/layout";
}

$is-sizes: false !default;
@if type-of($is-sizes) != map {
	@import "values/sizes";
}

$is-percent: false !default;
@if type-of($is-percent) != map {
	@import "values/percent";
}

@import "values/display";

// libraries

@import "library/html";
@import "library/text";
@import "library/color";
@import "library/animation";
@import "library/background";
@import "library/border";
@import "library/layout";
@import "library/display";
@import "library/flex";
@import "library/sizes";
@import "library/align";
@import "library/out";
@import "library/font";
@import "library/list";
@import "library/column";
@import "library/cursor";

// media

@import "media/layout";
@import "media/display";
@import "media/flex";
@import "media/sizes";
@import "media/align";
@import "media/font";
@import "media/column";
